/*
font-family: 'Righteous', cursive;
font-family: 'Open Sans', sans-serif;
*/

body {
  font: 400 18px/1.5 "Open Sans", sans-serif;
  color: #555;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-weight: 700;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

.f-xxs {
  font-size: 12px;
  line-height: 1.5;
}

.f-xs {
  font-size: 14px;
  line-height: 1.5;
}

.f-s {
  font-size: 16px;
  line-height: 1.5;
}

.f-m {
  font-size: 20px;
  line-height: 1.5;
}

.f-l {
  font-size: 22px;
  line-height: 1.5;
}

.f-xl {
  font-size: 26px;
  line-height: 1.5;
}

header {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 99;
  box-shadow: #ccc 1px 0px 5px;
}

header .taps {
  display: none;
  background: #333;
  padding-left: 20px;
  height: 25px;
}

header .taps li {
  list-style: none;
  display: inline;
  color: lightgray;
  margin: 0 10px;
}

header .u-clear {
  display: grid;
  grid-template-columns: 102px auto 40px 180px;
  align-items: center;
  background: white;
  height: 44px;
}

.u-clear .logo {
  /* border: 1px red solid; */
}

.u-clear .nav-bar {
  margin-left: 20px;
  border-right: 0.2px lightgray solid;
}

.u-clear .nav-bar ul {
  display: none;
}

.u-clear .nav-bar li {
  display: inline;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 5px;
}

.u-clear .search {
  text-align: center;
  /* padding: 0 0; */
  color: lightgray;
}

.u-clear .current-time {
  text-align: center;
  color: red;
}

header .message {
  background: rgb(255, 208, 0);
  text-align: center;
  color: black;
  font-weight: 200;
  height: 25px;
  border-left: 0.2px lightgray solid;
}

main {
  width: 100%;
}

#top-news {
  display: grid;
  grid-template-rows: repeat(3, 200px);
  margin-top: 74px;
}

#top-news .element {
  margin: 5px;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 60px;
}

#top-news .logo {
  width: 300px;
}

#top-news .logo-box .text {
  display: inline;
  float: right;
}

#top-news .logo-box {
  width: 100%;
  height: 100%;
  display: none;
}

#top-news .title {
  font-size: 20px;
  font-weight: 700;
}

#top-news .first-news {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(./../images/newe-796x531.png) 100% 50% / cover no-repeat;
}

#top-news .first-news:hover {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url(./../images/newe-796x531.png) 100% 50% / cover no-repeat;
}

#top-news .rest-news {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(./../images/google-protest-368x276.png) 100% 50% / cover no-repeat;
}

#top-news .rest-news:hover {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url(./../images/google-protest-368x276.png) 100% 50% / cover no-repeat;
}

#top-news .rest-news:nth-child(2) {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(./../images/lenovo-368x276.png) 100% 50% / cover no-repeat;
}

#top-news .rest-news:nth-child(2):hover {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url(./../images/lenovo-368x276.png) 100% 50% / cover no-repeat;
}

.wrapper {
  width: 100%;
  max-width: 1192px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

#latest,
#funding,
#deal {
  display: flex;
  flex-flow: row wrap;
  /* background: #ff7; */
}

#latest .h-title,
#popular .h-title,
#funding .h-title,
#deal .h-title {
  width: 100%;
  height: 40px;
}

#latest > .element,
#deal > .element {
  background: lightpink;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

#deal .element:nth-child(4n-1),
#latest .element:nth-child(4n-1) {
  background-color: yellow;
}

#deal .element:nth-child(4n-2),
#latest > .element:nth-child(4n-2) {
  background-color: pink;
}

#deal .element:nth-child(4n-3),
#latest > .element:nth-child(4n-3) {
  background-color: green;
}

#deal .element:nth-child(4n),
#latest > .element:nth-child(4n) {
  background-color: lightgray;
}

#funding .top-box {
  width: 100%;
  margin: 20px 0;
}

#funding .top-box span {
  margin-top: 15px;
  display: block;
}

#funding .element {
  width: 100%;
  height: 300px;
  padding: 0 10px;
  box-sizing: border-box;
}

#funding .logo {
  position: absolute;
  margin-top: 10px;
  margin-left: 15px;
  height: 60px;
  width: 60px;
}
#funding .title {
  height: 35px;
  padding-left: 95px;
  padding-top: 15px;
  background: #ff4500;
}

#funding .bottom {
  height: 45px;
  padding-left: 95px;
  padding-top: 10px;
  background: #f4e6e1;
}

#funding .series {
  text-transform: uppercase;
}

#funding .text {
  background: #f9f6f6;
  height: 60%;
}

#funding .tech,
#funding .funding-company {
  padding-top: 10px;
  padding-left: 20px;
  text-transform: capitalize;
}

#funding .funding-company {
  border-bottom: #ccc 0.5px solid;
  padding-bottom: 20px;
}

#funding li i {
  padding: 0 5px;
}

#funding .comment {
  padding: 20px;
}

#popular {
  display: flex;
  flex-flow: row wrap;
}

#popular .element {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#popular .on-head {
  width: 100%;
  height: 70vw;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%),
    url(./../images/philips-hue-starter-kit-header-image-516x270.png) 50% 50% /
      cover no-repeat;
}

#popular .on-head .empty {
  width: 100%;
  height: 100%;
}

#popular .second-box {
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ffecec;
}

#popular .second-box .title {
  font-weight: 600;
}

#popular li {
  padding: 5px 3px;
  border-bottom: #ccc 1px solid;
}

#deal .top-box {
  width: 100%;
  margin: 20px 0;
}

#deal .top-box span {
  margin-top: 15px;
  display: block;
}

#deal .element {
  display: grid;
  grid-template-columns: 100px auto;
}

#deal .element img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  margin-right: 20px;
}
/* 
#deal .text {
  float: left;
} */

footer {
  box-sizing: border-box;
  background: #000;
  height: 300px;
  width: 100%;
  text-align: center;
  padding: 50px;
}

footer .text {
  margin: 20px auto;
}

footer .text li {
  display: inline;
  text-align: center;
  font-weight: 700;
  padding: 0 10px;
  text-transform: uppercase;
}

footer .copyright {
  margin-top: 100px;
  font-weight: 400;
}

footer .copyright span {
  display: block;
}

footer img {
  width: 35px;
}

footer .copyright span strong {
  color: red;
}

footer .copyright b {
  color: lightgrey;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.taps:focus,
.taps:hover,
.icons i,
#top-news .sort,
#top-news .title,
#top-news .author a:hover,
#top-news .logo-box .text,
#funding .element .title a,
#popular .on-head .sort,
#popular .on-head > .title,
#popular .on-head > .title a,
#popular .author a:hover,
footer .link .text a:hover {
  color: white;
}

.taps,
.taps a,
.nav-bar,
.nav-bar a,
.u-clear .search,
.u-clear .search a,
#top-news .author-box,
#top-news .author a,
footer .text a,
footer .copyright b {
  color: lightgray;
}

.author-box,
.author a,
#popular ul a,
#funding .series,
#funding .text a {
  color: gray;
}

#latest .h-title a,
#latest .element .title a:hover,
#funding .h-title a,
#funding .top-box a,
#popular .h-title a,
#popular .second-box,
#popular .second-box a,
#popular ul a span,
#deal .h-title a,
#deal .element .title a:hover {
  color: #ff4500; /*orange */
}

.nav-bar a:hover,
#latest .h-title a:hover,
#latest .element .author a:hover,
#funding .h-title a:hover,
#funding .top-box a:hover,
#funding .element a:hover,
#funding .amount,
#funding .tech a:hover,
#funding .funding-company a:hover,
#popular .element .h-title a:hover,
#popular ul a:hover,
#deal .h-title a:hover,
#deal .element .title a {
  color: #000;
}

/* between 750px ~ 1000px */
@media only screen and (min-width: 750px) {
  header .taps {
    display: block;
  }

  header .u-clear {
    grid-template-columns: auto 40px 180px;
  }

  .u-clear .logo {
    display: none;
  }

  .u-clear .nav-bar ul {
    display: block;
  }

  #top-news {
    margin-top: 94px;
    grid-template: repeat(2, 200px) / 65% 35%;
  }

  #top-news .first-news {
    grid-row: 1/3;
    grid-column: 1;
  }

  #top-news .rest-news {
    grid-column: 2;
  }

  #top-news .sort {
    text-transform: uppercase;
  }

  #top-news .author a {
    text-transform: capitalize;
  }

  #funding .top-box span {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px #ff4500 solid;
  }

  #funding .top-box span:last-of-type {
    border: none;
  }

  #funding .element:last-child {
    display: none;
  }

  #deal .element {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto;
  }

  #latest .element,
  #funding .element,
  #deal .element {
    width: 33.33%;
  }

  #popular .element {
    width: 50%;
  }

  #popular .on-head {
    height: 35vw;
  }

  footer .copyright span {
    display: inline-block;
  }
}

/* 1000px and up */
@media only screen and (min-width: 1000px) {
  #top-news {
    grid-template-rows: repeat(2, 250px);
  }

  #top-news .logo-box {
    display: block;
  }

  #top-news .first-news {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 0, 100, 0.5) 100%
      ),
      url(./../images/newe-796x531.png) 100% 50% / cover no-repeat;
  }

  #top-news .first-news:hover {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 0, 100, 0.4) 100%
      ),
      url(./../images/newe-796x531.png) 100% 50% / cover no-repeat;
  }

  #funding .top-box .h-title {
    display: inline;
  }

  #funding .top-box span {
    float: right;
  }

  #funding .top-box span:first-of-type {
    border: none;
  }

  #funding .element:last-child {
    display: block;
  }

  #latest .element,
  #funding .element,
  #deal .element {
    width: 25%;
  }

  #popular .element {
    width: 33.33%;
  }

  #popular .on-head {
    height: 30vw;
  }
}
