/*
font-family: 'Righteous', cursive;
font-family: 'Open Sans', sans-serif;
*/

body {
  font: 400 18px/1.5 "Open Sans", sans-serif;
  color: #555;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  font-weight: 600;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

.f-xxs {
  font-size: 12px;
  line-height: 1.5;
}

.f-xs {
  font-size: 14px;
  line-height: 1.5;
}

.f-s {
  font-size: 16px;
  line-height: 1.5;
}

.f-m {
  font-size: 20px;
  line-height: 1.5;
}

.f-l {
  font-size: 22px;
  line-height: 1.5;
}

.f-xl {
  font-size: 26px;
  line-height: 1.5;
}

header {
  width: 100%;
  position: fixed;
  top: 0px;
}

header .taps {
  display: none;
  background: #333;
  padding-left: 20px;
  height: 25px;
}

header .taps li {
  list-style: none;
  display: inline;
  color: lightgray;
  margin: 0 10px;
}

header .u-clear {
  display: grid;
  grid-template-columns: 102px auto 40px 180px;
  align-items: center;
  background: white;
  height: 44px;
}

.u-clear .logo {
  /* border: 1px red solid; */
}

.u-clear .nav-bar {
  margin-left: 20px;
  border-right: 0.2px lightgray solid;
}

.u-clear .nav-bar ul {
  display: none;
}

.u-clear .nav-bar li {
  display: inline;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 5px;
}

.u-clear .search {
  text-align: center;
  /* padding: 0 0; */
  color: lightgray;
}

.u-clear .current-time {
  text-align: center;
  color: red;
}

header .message {
  background: rgb(255, 208, 0);
  text-align: center;
  color: black;
  font-weight: 200;
  height: 25px;
  border-left: 0.2px lightgray solid;
}

main {
  background: lightgoldenrodyellow;
  width: 100%;
}

#top-news {
  display: grid;
  grid-template: none;
  height: 600px;
  margin-top: 94px;
}

#top-news .element {
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
}

#top-news .sort {
  margin-top: 110px;
}

#top-news .title {
  font-size: 20px;
  font-weight: 700;
}

#top-news .first-news {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(./../images/newe-796x531.png) 100% 50% / cover no-repeat;
}
#top-news .first-news:hover {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url(./../images/newe-796x531.png) 100% 50% / cover no-repeat;
}

#top-news .rest-news {
  background: #000 url(./../images/newe-796x531.png) 100% 50% no-repeat;
  background-color: pink;
}

#top-news .rest-news:nth-child(2) {
  background-color: yellow;
}

#latest,
#funding,
#deal {
  display: flex;
  flex-flow: row wrap;
  background: #ff7;
}

#latest > .title,
#popular .element > .title,
#funding > .title,
#deal > .title {
  width: 100%;
  height: 40px;
  background-color: hsla(270, 60%, 40%, 0.7);
}

#latest > .element,
#funding > .element,
#deal > .element {
  background: lightpink;
  /*border: 1px blue solid;*/
  padding: 20px;
  width: 100%;
  height: 100px;
  /*margin: 0.8%;*/
  box-sizing: border-box;
}

#deal .element:nth-child(4n-1),
#funding .element:nth-child(4n-1),
#latest .element:nth-child(4n-1) {
  background-color: yellow;
}

#deal .element:nth-child(4n-2),
#funding .element:nth-child(4n-2),
#latest > .element:nth-child(4n-2) {
  background-color: pink;
}

#deal .element:nth-child(4n-3),
#funding .element:nth-child(4n-3),
#latest > .element:nth-child(4n-3) {
  background-color: green;
}

#deal .element:nth-child(4n),
#funding .element:nth-child(4n),
#latest > .element:nth-child(4n) {
  background-color: lightgray;
}

#popular {
  display: flex;
  flex-flow: row wrap;
}

#popular .element {
  width: 100%;
}

#popular .on-head {
  width: 100%;
  height: 200px;
  background: yellow;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}
#popular .latest-news {
  height: 100px;
  background-color: #ffccdd;
}

#popular .element:nth-child(2n) {
  background-color: #afa; /*temp*/
}

footer {
  box-sizing: border-box;
  background: #000;
  height: 300px;
  width: 100%;
  text-align: center;
  padding: 50px;
}

footer .text {
  margin: 20px auto;
}

footer .text li {
  display: inline;
  text-align: center;
  font-weight: 700;
  padding: 0 10px;
  text-transform: uppercase;
}

footer .copyright {
  margin-top: 100px;
  font-weight: 400;
}

footer .copyright span {
  display: block;
}

footer .copyright span strong {
  color: red;
}

footer .copyright b {
  color: lightgrey;
  font-weight: 700;
}

a:link {
  text-decoration: none;
}

.taps:focus,
.taps:hover,
#top-news .sort,
#top-news .title,
#top-news .author a:hover,
#funding .element .title a:link,
#popular .on-head .sort,
#popular .on-head > .title,
#popular .on-head > .title a,
#popular .author a:hover,
.icons i,
footer .link .text a:hover {
  color: white;
}

#top-news .author-box,
#top-news .author-box a,
#popular ul a:link,
footer .text li a:link {
  color: gray;
}

#latest > .title a:link,
#latest .element .title a:hover,
#funding > .title a:link,
#funding .top-box a:link,
#popular .element > .title a:link,
#popular .latest-news,
#popular .latest-news a:link,
#popular ul a:link,
#deal > .title a:link,
#deal .element .title a:hover {
  color: #ff4500; /*orange */
}

.nav-bar a:hover,
#latest > .title a:hover,
#latest .element .author a:hover,
#funding > .title a:hover,
#funding .top-box a:hover,
#funding .element a:hover,
#funding .amount,
#funding .tech a:hover,
#funding .funding-company a:hover,
#popular .element .title a:hover,
#popular li a:hover,
#deal > .title a:hover,
#deal .element .title a:link {
  color: #000;
}

/* between 750px ~ 1000px */
@media only screen and (min-width: 750px) {
  header .taps {
    display: block;
  }

  header .u-clear {
    grid-template-columns: auto 40px 180px;
  }

  .u-clear .logo {
    display: none;
  }

  .u-clear .nav-bar ul {
    display: block;
  }

  #top-news {
    height: 400px;
  }

  #top-news .first-news {
    grid-row: 1/3;
    grid-column: 1;
  }

  #top-news .rest-news {
    grid-column: 2;
  }

  #top-news .sort {
    text-transform: uppercase;
  }

  #top-news .author a {
    text-transform: capitalize;
  }

  #latest .element,
  #funding .element,
  #deal .element {
    width: 33.33%;
  }

  #popular .element {
    width: 48%;
    margin: 0.8%;
  }

  footer .copyright span {
    display: inline-block;
  }
}

/* 1000px and up */
@media only screen and (min-width: 1000px) {
  #top-news {
    height: 500px;
  }

  #latest .element,
  #funding .element,
  #deal .element {
    width: 25%;
  }

  #popular .element {
    width: 31.5%;
    margin: 0.8%;
  }
}
